.container-basic {
    display: grid;
    justify-content: center;
}

.container-basic-paper {
    justify-content: center;
    align-items: center;
}

.title-basic {
    display: grid;
    justify-content: center;
    font-family: 'Inter' !important;
    font-size: 48px !important;
    font-weight: 700 !important;
    padding-top: 54px;
    padding-bottom: 48px;
    text-align: center;
}

.paper-none {
    display: flex;
    font-family: 'Inter';
    font-size: 32px !important;
    font-weight: 500 !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100px;
    height: 140px;
    margin: 8px;
    padding-left: 6px;
    padding-right: 6px;
}

.paper-none-dash {
    display: flex;
    font-family: 'Inter';
    font-size: 24px !important;
    font-weight: 500 !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100px;
    height: 140px;
    margin: 8px;
    color: white !important;
    padding-left: 6px;
    padding-right: 6px;
}

.papers-basic { 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.paper {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9 !important;
    height: 140px !important;
    width: 100px !important;
    font-family: 'Noto Sans Japanese' !important;
    font-size: 32px;
    font-weight: 600;
    margin: 8px;
    padding-bottom: 4px;
    padding-top: 0px;
    padding-left: 6px;
    padding-right: 6px;
}

.jp {
    font-size: 36px;
}

.silaba {
    font-family: 'Inter';
    font-size: 20px !important;
    font-weight: 500 !important;
    justify-content: center;
    align-items: center;
    color: #696969
}

.bottom-button {
    justify-content: center;
}

.basic-button {
    display: flex;
    justify-content: center;
}

.essential-button, .additional-button {
    background-color: black !important;
    color: white !important;
    border-radius: 40px !important;
    font-family: 'Inter' !important;
    font-size: 16px !important;
    width: 20vh;
    margin-top: 48px !important;
    margin-bottom: 32px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
}
