.navbar {
    background: white !important;
    
}

.toolbar {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 !important;
}

.navbar-logo {
    margin: 0;
    width: 42px;

}

.text-decorator-none {
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    color: black !important;
}

.titulo-nav {
    margin-left: 12px !important;
    font-size: 24px !important;
    font-weight: 700 !important;
    font-family: 'Inter' !important;
}

.principal {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hamburguer-menu {
    color: black !important;
}

.content {
    display: flex;
    align-items: center;
    gap: 40px
}

.material-navbar {
    color: #212121;
    font-size: 30px;
    padding-top: 2px;
    cursor: pointer;
}